{% extends "base.html" %}

{% block title %}{{ object.title }}{% endblock %}

{% block body %}
<h1 class="display-4">{{ object.title }}</h1>
<p class="lead">
  {{ object.description }}
</p>

{% for category in categories %}
<div class="card my-3">
  <div class="card-body">
    <h3>{{ category.title }}</h3>
    <p>{{ category.description }}</p>
    <table class="table table-bordered table-hover">
      <tbody>
        {% for item in category.menuitem_set.all %}
        <tr>
          <td>
            <span class="font-weight-bold">{{ item.title }}</span>
            <br>
            <span class="font-weight-light">{{ item.description }}</span>
          </td>
          <td>{{ item.price }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endfor %}

{% endblock body %}
