{% extends "base.html" %}

{% block title %}{{ object.title }}{% endblock %}

{% block body %}
<a href="{% url 'menu:list' %}">&laquo; Back to all menus</a>
<h1 class="display-4">{{ object.title }}</h1>
<p class="lead">
  {{ object.description }}
</p>

<ul class="list-group">
  {% for category in categories %}
  <li class="list-group-item p-4">
    <h3>{{ category.title }}</h3>
    <p>{{ category.description }}</p>
    <table class="table table-borderless table-hover">
      <tbody>
        {% for item in category.menuitem_set.all %}
        <tr>
          <td>
            <span class="font-weight-bold">{{ item.title }}</span>
            <span class="float-right">${{ item.price }}</span>
            <br>
            <span class="font-weight-light">{{ item.description }}</span>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </li>
  {% endfor %}
</ul>

{% endblock body %}
