{% extends "base.html" %}
{% load static %}

{% block title %}Menus{% endblock %}

{% block body %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">QR</th>
      <th scope="col">Menu Title</th>
      <th scope="col">Menu Description</th>
    </tr>
  </thead>
  <tbody>
  {% for menu in object_list %}
    <tr>
      <td>
        <button type="button" class="btn btn-light btn-sm">
          <img src="{% static 'qr-code.svg' %}" height="12px" width="12px" alt="QR"/>
        </button>
      </td>
      <th scope="row">
        <a href="{% url 'menu:detail' pk=menu.uuid %}">{{ menu.title }}</a>
      </th>
      <td>{{ menu.description }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock body %}
